<div id="content">
    <script type="text/javascript" src="/LPE/Content/Scripts/jquery-1.6.1.js"></script>
    <script type="text/javascript" src="/LPE/Content/Scripts/jquery-ui-1.8.13.custom.min.js"></script>
    <script type="text/javascript" src="/LPE/Content/Scripts/testeintegracao.js"></script>


    <h2>TesteIntegraçao</h2>
    <div>
        <input type='button' id="button" value='clique aqui'/><br />
        <b>Para fazer a integracao basta fazer a seguinte requisicao:</b><br />
        <h3>
          $.ajax({
                url: "http://localhost:62341/LPE/Home/LoginMPE",
                dataType:"JSON",
                type: "post",
                data: { Email: "ricardo@gmail.com", PasswordHash: "yYHZtvpkTfazcgfmBshi6057f20f883e", Nome: "ricardo" },
                traditional: true,
                success: function (data, text) {
                    alert("sucesso");
                    $("#content").html(data);
                },
                error: function (response, status, error) {
                    alert('erro')
                }
            });
        </h3>
    </div>
    <div id='cpnteudo'>
    
    </div>
</div>