
.pivot_table 
{
    border-collapse: collapse;
	border: 1px solid #aaaaaa;
	margin-bottom: 5px;
}

.pivot_table td.h1, .pivot_table td {
	border: 1px solid #aaaaaa;
	padding: 3px;
}

.pivot_table td.h1 {
	font-weight: bold;
}

.pivot_table td {
	text-align: right;
}

.pivot_table td.gtotal {
	background-color: #fcc;
}

.pivot_table td.total {
	background-color: #fdd;
}

.pivot_table td.subtotal {
	background-color: #fee;
}

.pivot_table .odd {
	background-color: #ffd;
}

.pivot_table .even {
	background-color: #fff;
}

.pivot_table .h1 {
	background-color: #e6e6e6;
}

.pivot_table .h2 {
	background-color: #ddf;
}

.pivot_table td:hover {
	background-color: #ddd;
}

.pivot_chart {
	height: 400px;
	margin-bottom: 1.5em;
	margin-top: 0.5em;	
	display: block;
}

.pivot_row_chart {
	height: 400px;
	margin-bottom: 1.5em;
	margin-top: 0.5em;	
	display: block;
}

.pivot_col_chart {
	height: 400px;
	margin-bottom: 1.5em;
	margin-top: 0.5em;		
	display: block;    
}

.pivot_icon_chart
{    
    text-indent: 20px;
    background: url(/CockpitContentContent/imgs/chart.png) no-repeat 3px center;
}

.pivot_icon_chart_line
{
    text-indent: 20px;
    background: url(/CockpitContentContent/imgs/chart_line.png) no-repeat 3px center;
}

.pivot_icon_chart_column
{
    text-indent: 20px;
    background: url(/CockpitContentContent/imgs/chart_column.png) no-repeat 3px center;
}

.pivotLoadingButton 
{
    background-image: url(/CockpitContentContent/imgs/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: 5px left;
}

.pivot_div_bar 
{
position:fixed;
background-color: #A9A9A9;
height: 20px;
width: 500px;
border: 1px solid #666666;
}
.pivot_progress_bar 
{
position:fixed;
background-color: #000099;
height: 20px;
width: 500px;

}
.pivot_count_bar 
{
position:fixed; 
z-index:200; 
color:White;
height: 20px;
width: 100px;
text-align: right;
}