<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt" version="1.0.0.0" targetFramework="net40" />
  <package id="BCrypt.Net" version="0.1.0" targetFramework="net40" />
  <package id="BCrypt-Official" version="0.1.107" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="log4net" version="2.0.0" />
  <package id="NHibernate" version="3.2.0.4000" />
  <package id="Ninject" version="2.2.1.4" />
</packages>