/****
--- cores ---
#13a59c --> Verde barra titulo;
#3c4946 --> Borda tabela;
#6a6863 --> 'esqueceu a senha', prox. ofertas, links rodape -> bege mais escuro
****/

#index_content{border:0px solid black;}
#index_head{border-bottom:3px solid #ed217c; width:100%; height:70px; background-color:#13a59c;}
#index_content h2{border: 0px solid black; float:left; font-size:23px; color:#fff; margin:20px 50px; }
#index_content table{border:1px solid #3c4946; float:left; width:100%; color : #373530;}
#index_content table tr th{border:1px solid #3c4946;}
#index_content table td{border-right:1px solid #3c4946;border-left:1px solid #3c4946;}
#index_content p{border:0px solid green; float:right; clear:both;}
#index_title_coluna{border:0px solid green; width:100%; background-color:#efebe0; color : #3c4946;}
#coluna_acao{text-align:center;}
.addButton {border:1px solid black; display: block; width: 32px; height: 32px;}