#map_canvas
{
    width: 70%;
    height: 400px;
    float: left;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0;
}

#locations
{
    float: left; 
    width: 28%;
    margin: 0;
    padding: 0;
    overflow: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

#locations ul
{
    list-style-image: url(/CockpitContentContent/imgs/bullet_red.png);
}

#locations h3
{
    text-align: center;
    font-weight: bold;
}

#locations li
{
    border: 1px solid #ffffff;
    padding: 2px;
    cursor: pointer;
}

#locations li:hover, #locations li.hover
{
    border: 1px solid #00793a;
    background: #a6d0ba;
}

#locations-more-info
{
    width: 98%;
}
