<div id="PartialContent">
    @{
        Html.RenderAction("CreateAndUpdate", "EnderecoManager");
    }
</div>
<div id="Base">
    <div class="pageheader">
        <input type="button" id="addRowButton" onclick="callCreate('EnderecoManager','Create')" value="" class="btadd" />
        <input type="button" id="updateRowButton" onclick="callUpdate('EnderecoManager','Update','IdEndereco','List')" value="" class="btedit" />
        <input type="button" id="deleteRowButton" onclick="callDelete('EnderecoManager','Delete','IdEndereco')" value="" class="btdel" />        
        <input type="button" id="menuButton" onclick="initializeOptionMenu('#conteudo');" value="" class="btback" />        
    </div>
    <div id="search"></div>
    <table id="Grid"></table>
</div>

<script type="text/javascript" >
    $(document).ready(function () {
        createGrid();
        loadGrid('EnderecoManager','List');
    });

    function createGrid() {
        $("#Grid").jqGrid({
            colNames: ['Codigo','Logradouro', 'Bairro', 'Cep'],
            colModel: [
            { name: 'IdEndereco', index: 'IdEndereco', width: 50, sorttype: "text" },
            { name: 'Logradouro', index: 'Logradouro', width: 249, sorttype: "text" },
            { name: 'Bairro', index: 'Bairro', width: 249, sorttype: "text" },
            { name: 'Cep', index: 'Cep', width: 200, sorttype: "text" }
   	              ],
            datatype: "json",
            height: 'auto',
            caption: "Endereços Cadastrados",
            sortorder: "asc",
            sortable: true,
            viewrecords: true,
            datatype: "local"
        });
    };

    function setupUpdateForm(Controller, Action, id) {
        $.ajax({
            type: "post",
            url: Controller + "/" + Action,
            traditional: true,
            data: { 'id': id },
            success: function (data, text) {
                var entidade = eval("(" + data + ")");

                fillFormWithObject(entidade);

                $('#selectMunicipio').trigger('addItem', [{ 'title': entidade.selectMunicipio, 'value': entidade.idMunicipio}]);
            }
        });
    }
</script>