<div id="_div" style="display: none;">
    <div id="boxEsquerda">
        <form id="addForm" name="add" action="" method="post">
        <div class="pageheader">
            <input id="updateButton" type="button" value="Gravar" class="btsave" />
            <input id="backButton" type="button" value="Voltar" onclick="callBackButton('NivelEscolaridadeManager','List')" class="btback" />
        </div>
        <fieldset>
            <legend>Formulário de Nivel de Escolaridade</legend>
            <label for="DescricaoNivelEscolaridade">
                Descriçao
            </label>
            <input id="DescricaoNivelEscolaridade" name="DescricaoNivelEscolaridade" type="text" size="60" required/>
        </fieldset>
        </form>
    </div>
</div>


<script type="text/javascript">
    var currentID;

    $(document).ready(function () {

        var validator = $("#addForm").validate({
            rules: {
                DescricaoNivelEscolaridade: { required: true }
            },
            errorElement: "div",
            wrapper: "div",  // a wrapper around the error message 
            errorPlacement: function (error, element) { errorCSS(error, element); },
            messages: {
                DescricaoNivelEscolaridade: "O descriçao nao pode ficar em branco."
            }
        });
    });

</script>
